:root {
  --facebook-color: #3b5998;
  --twitter-color: #55acee;
  --instagram-color: #ac2bac;
  --linkedin-color: #0082ca;
  --github-color: #333;
}

body,
html {
  margin: 0;
  background-color: #212529;
}

#header-icon {
  width: 55px;
  height: 40px;
}

#main-content {
  background-color: #181818;
}

#album-img {
  width: 15rem;
}

.info {
  background-color: #181818;
  color: #6c757d;
  border-radius: 10px;
  font-size: .8rem;
  font-weight: 550;
}

#likes:hover {
  color: #dc3545;
}

#add-comments:hover {
  color: #4b4ba5;
}

.inputs-user {
  background: #2c3034;
  border: none;
  width: 100%;
}

.inputs-user::placeholder {
  color: white;
  opacity: 1;
}

.inputs-user::-ms-input-placeholder {
  color: white;
}

.btn-color {
  background-color: #dc3545;
  color: white;
}

.btn-color-2 {
  background-color: #4b4ba5;
  color: white;
}



.fb {
  background-color: var(--facebook-color);
}

.tw {
  background-color: var(--twitter-color);
}

.lk-in {
  background-color: var(--linkedin-color);
}

.insta {
  background-color: var(--instagram-color);
}

.gh {
  background-color: var(--github-color);
}

