:root {
  --facebook-color: #3b5998;
  --twitter-color: #55acee;
  --instagram-color: #ac2bac;
  --linkedin-color: #0082ca;
  --github-color: #333;
}

body,
html {
  margin: 0;
  background-color: #17182f;
}

.navbar {
  background-color: #212529ab;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
}

.navbar .nav-link {
  font-size: 1.2rem;
}

footer {
  position: relative;
  background-color: #212529ab;
}

canvas {
  display: block;
}

header {
  margin-bottom: 30px;
}

/* ---- particles.js container ---- */

#particles-js {
  background-color: #17182f;
  position: fixed;
  width: 100%;
  height: 100%;

  /* background-size: cover; background-position: 50% 50% ;background-repeat: no-repeat; */
}

#songs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#header-icon {
  width: 55px;
  height: 40px;
}

#main-content {
  background-color: #181818;
}

.fade {
  transition-duration: 0.7s;
}

.info {
  background-color: #181818;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 550;
}

.likes {
  color: #6c757d;
}

.likes:hover {
  color: #dc3545;
}

.add-no-click {
  color: #6c757d;
}

.add-clicked,
.add-no-click:hover {
  color: #4b4ba5;
}

.inputs-user {
  background: #2c3034;
  border: none;
  width: 100%;
}

.inputs-user::placeholder {
  color: white;
  opacity: 1;
}

.inputs-user::-ms-input-placeholder {
  color: white;
}

.btn-color {
  background-color: #dc3545;
  color: white;
}

.btn-color-2 {
  background-color: #4b4ba5;
  color: white;
}

#songs-container {
  position: absolute;
  width: 100%;
}

#songs-container h2 {
  text-align: center;
  color: #dc3545;
  background-color: transparent;
  font-size: 1.6rem;
}

.songImg {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.card {
  width: 18rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.andaba-font {
  font-family: 'Andada Pro', serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.robotoCon-font {
  font-family: 'Roboto Condensed', sans-serif;
}

.fb {
  background-color: var(--facebook-color);
}

.tw {
  background-color: var(--twitter-color);
}

.lk-in {
  background-color: var(--linkedin-color);
}

.insta {
  background-color: var(--instagram-color);
}

.gh {
  background-color: var(--github-color);
}
