:root {
  --facebook-color: #3b5998;
  --twitter-color: #55acee;
  --instagram-color: #ac2bac;
  --linkedin-color: #0082ca;
  --github-color: #333;
}

body,
html {
  margin: 0;
  background-color: #212529;
}

#songs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#header-icon {
  width: 55px;
  height: 40px;
}

#main-content {
  background-color: #181818;
}

.fade {
  transition-duration: 0.7s;
}

.info {
  background-color: #181818;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 550;
}

.likes {
  color: #6c757d;
}

.likes:hover {
  color: #dc3545;
}

.add-no-click {
  color: #6c757d;
}

.add-clicked,
.add-no-click:hover {
  color: #4b4ba5;
}

.inputs-user {
  background: #2c3034;
  border: none;
  width: 100%;
}

.inputs-user::placeholder {
  color: white;
  opacity: 1;
}

.inputs-user::-ms-input-placeholder {
  color: white;
}

.btn-color {
  background-color: #dc3545;
  color: white;
}

.btn-color-2 {
  background-color: #4b4ba5;
  color: white;
}

#songs-container h2 {
  text-align: center;
  color: white;
  background-color: rgba(252, 27, 27, 0.774);
  font-size: 1.5rem;
}

.songImg {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.card {
  width: 18rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.fb {
  background-color: var(--facebook-color);
}

.tw {
  background-color: var(--twitter-color);
}

.lk-in {
  background-color: var(--linkedin-color);
}

.insta {
  background-color: var(--instagram-color);
}

.gh {
  background-color: var(--github-color);
}
